body {
    padding: 0;
    margin: 0;
    background-color: peachpuff;
}
table {
    font-size: 30px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    border-top: 5px solid lightyellow;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 70px;
    border-bottom: 5px solid lightyellow;
}

.list {
    position: relative;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    width: 500px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 30%;
}

.float {
    padding: 0;
    width: 5%;
    float: initial;
}

header {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: lightsalmon;
}

.vertical {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    right: 10px;
    writing-mode: vertical-rl;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 900px) { 
    img{
        width: 70%;
    }

    .fixed {
        height: 8%;
    }

    .list {
        font-size: 40px;
        width: 530px;
    }
    .vertical {
        right: 0;
    }

    .info {
        min-width: 530px;
        align-content: center;
        text-align: center;
    }
    table {
        height: 300px;
        width: 530px;
        font-size: 25px;
    }
}